# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Project Specific
# Ignore datasets (usually large)
data/
!data/.gitkeep

# Ignore outputs (generated during runtime)
outputs/models/*.pth
outputs/images/*.png
outputs/logs/*.txt

# Keep the directory structure
!outputs/models/.gitkeep
!outputs/images/.gitkeep
!outputs/logs/.gitkeep
